---
applications:
 - name: clog
   memory: 1G
   timeout: 180
   domain: run.covisintrnd.com
   env:

# DB connection properties
###############################################

# The JDBC driver used to connect to the DB.  Do not use a driver which itself tries to do connection pooling:
# default value: oracle.jdbc.OracleDriver
#   plt_db_driver: 

# JDBC URI used to connect to the database.
    db_driver: "com.mysql.jdbc.Driver"
# default value: none, this property must be set
    db_url: "jdbc:mysql://10.96.32.202:3306/cf_aa78c0ba_da5a_4544_8439_a9c343d84554"

# Username used to connect to the database
# default value: empty
    db_user: ko4rqvimEXLSCUQh

# Password used to connect to the database
# default value: empty
    db_password: cbJ6FmqhRwpk52lU

# Tuning Properties
# These properties are for tuning the the system.  Most of them relate to managing connections to the database. Most of
# the default properties should be decent under nominal loads.

# Number of database connections created by the connection pool when it starts up.
# default value: 5
    db_pool_initial_size: 10

# Maximum number of connections that can be open to the database at one time
# default value: 25
#   plt_db_pool_max_size: 25

# Minimum number of connections that will be maintained in the pool
# default value: 0
    db_pool_min_size: 5

# Maximum number of prepared statements that will be cached.  If the database in question does not compile prepared
# connections this property should be set to 0.
# default value:10
#   plt_db_pool_max_statements: 10

# Maximum amount of time, in seconds, a connection will remain idle before being closed.
# default value: 300 (5 minutes)
#   plt_db_con_max_idle_time: 300

# Period of time, in seconds, between the pool scanning connection to test them.  A value of 0 (zero) means will
# prevent connections from being tested.  If this property is given a non-zero value, you must also provide a value for
# the db.con.testQuery property.
# default value: 30
    db_con_test_period: 0

# Query used to test whether a database connection is still usable.  This query should be as fast and easy on the 
# database as possible when executing.  If the property db.con.testPeriod is set to 0 this property is not used.
# default value: select 1 from dual
#   plt_db_con_test_query: select 1 from dual

# The number of connections that will be created each time the pool runs out of connections.
# default value: 5
#   plt_db_con_acquire_increment: 5

# The number of times the pool will retry creating a connection to the database if the creation fails.  A value of 0
# indicates that the pool should continually retry until a usable connection can be fetched.
# default value: 0
#   plt_db_con_retry_attempts: 0

# The amount of time, in milliseconds, the pool will wait, if its previous attempt to get create a usable connection to
# the database failed, before trying again.  A value of less than 500 is discouraged.
# default value: 3000 (3 seconds)
#   plt_db_con_retry_delay: 3000

    db_hib_schema: cf_aa78c0ba_da5a_4544_8439_a9c343d84554
    db_hib_dialect: org.hibernate.dialect.MySQLDialect
    db_hib_ddl: validate

# Development/Debug Properties
######################################
# These are properties that are useful for debugging or during development but should not generally be changed from
# their default when the system is used in production.

# The amount of time, in seconds, a connection may hold a connection before the pool assumes the connection was
# abandoned.  A value of 0 indicates the pool will never forcefully reclaim a connection.
# This is a debug option and should not be used in production. Developers, close your connections!
# default value: 0
#   plt_db_con_unreturned_timeout: 30

# Whether the pool should produce a stack track when it forcefully reclaims a connection that is believes is abandoned.
# This property is not unless db.con.unreturnedTimeout has a value greater than 0.
# default value: false
#   plt_db_con_debug_unreturned: true

# Whether Hibernate should create, validate, update, or drop then recreate the table schema in the database when it
# starts up.  The values create and create-drop are very useful during development.  Past development this should not be
# set to anything other than validate
# default value: validate
#   plt_db_hib_ddl: validate

# Whether to pretty-print SQL statements if they are logged.  This is helpful during development but generally shouldn't
# be on in production.
# default value: false
    db_hib_format_sql: true

# Don't Touch Properties
######################################
# These are properties that under certain extreme conditions you may need to change but you should rarely do so and 
# and never without consulting the product team

# The transaction isolation level used for connections.  See the following URL for the acceptable values:
# http://docs.oracle.com/javase/7/docs/api/constant-values.html#java.sql.Connection.TRANSACTION_NONE
# You should never set this to anything other than 4 (TRANSACTION_REPEATABLE_READ) unless you are certain you know what
# you're doing.  If you think you are certain, you should give that a second thought.
# default value: 4
#   plt_db_hib_isolation_level: 4

# Whether Hibernate should generate statistics on its usage.  These stats will be exposed via JMX if a suitable MBean
# server is available.  The performance impact of generating these stats is low so this should be left on unless 
# performance is more important that basic operational info.  See the various beans that are exposed here:
# http://docs.jboss.org/hibernate/orm/4.2/javadocs/org/hibernate/stat/package-frame.html
# default value: true
#   db_hib_generate_stats: true

# Additional settings for Hibernate configuration
#   plt_db_hib_dialect: org.hibernate.dialect.Oracle10gDialect
#   plt_db_hib_fetch_size: 50
#   plt_db_hib_max_fetch_depth: 3
#   plt_db_hib_default_batch_size: 8

# This value represent the time in milliseconds to purge the expired device association requests.
# default value : 30 mins
    association_request_cleanup_timer: 1800000
# Elastic search details
    es_aliasUrl: http://10.96.24.31:9200
    es_indexname: covisint-s-demo11-reg03
# Group Service details
    group_baseServiceUrl: http://group-1-1-qa.run.covisintrnd.com
######End of manifest file###########
