<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:c="http://www.springframework.org/schema/c" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="groupClientFactory" class="com.covisint.platform.group.client.group.GroupClientFactory"
        c:serviceUrl="${group_baseServiceUrl}" />

    <bean id="groupClient" factory-bean="groupClientFactory" factory-method="create" />
    
     <bean id="groupEntitlementClientFactory" class="com.covisint.platform.group.client.group.entitlement.GroupEntitlementClientFactory"
        c:serviceUrl="${group_baseServiceUrl}" />

    <bean id="groupEntitlementClient" factory-bean="groupEntitlementClientFactory" factory-method="create" />


	<bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder"  factory-method="create"/>
	<bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build" />
    
</beans>