<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:metrics="http://www.ryantenney.com/schema/metrics"
    xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.ryantenney.com/schema/metrics
           http://www.ryantenney.com/schema/metrics/metrics-3.0.xsd">

    <!-- Set up the main metrics registry. -->
    <metrics:metric-registry id="metrics" />

    <!-- Enable annotation-driven configuration. -->
    <metrics:annotation-driven metric-registry="metrics" />

    <!-- Report out to slf4j and jmx. -->
    <metrics:reporter type="slf4j" metric-registry="metrics" period="${metrics.reporting.logInterval:15m}" />
    <metrics:reporter type="jmx" metric-registry="metrics" />

</beans>